@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 300px;
  --breakpoint-sm: 360px;
  --breakpoint-md: 480px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1440px;
  --color-primary: #1a1a1a;
  --color-secondary: #d2c3a1;
  --color-muted: rgb(210, 195, 161, 20%);
  --color-overlay: rgba(0, 0, 0, 15%);
  --color-primary-light: #d2c3a10a;
  --color-muted-light: rgba(106, 95, 76, 0.14);
  --color-overlay-light: rgb(210, 195, 161, 25%);
}
::-webkit-scrollbar {
  width: 0;
}
::selection {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
body {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
}
.container {
  max-width: 900px;
  margin-inline: auto;
}

.loader-spinner {
  animation: spinner 1.5s infinite linear;
}
@keyframes spinner {
  0%,
  100% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-fade-in {
  animation: fadeIn 0.8s linear;
}
.animate-fade-out {
  animation: fadeOut 0.8s linear;
}
.animate-fade-up {
  animation: fadeUp 0.8 linear;
}
.animate-fade-down {
  animation: fadeDown 0.8 linear;
}
.animate-fade-left {
  animation: fadeLeft 0.8 linear;
}
.animate-fade-right {
  animation: fadeRight 0.8 linear;
}
